@tailwind base;
@tailwind components;
@tailwind utilities;

/*
229 100% 54%;  Converted #1340FF  BLUE
78 100% 54%; Converted #B6FF12 LIME
224 80% 80%;  Converted #ABA5F5 FLOWER
*/

@layer base {
  :root {
    --background: 213 15% 14%;
    --foreground: 214 32% 91%%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 229 100% 54%;
    --primary-foreground: 210 100% 100%;

    --secondary: 240 75% 84.3%;
    --secondary-foreground: 229 100% 54%; /* Using primary color for contrast */

    --muted: 217 20% 65%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 73.8 100% 54.3%;
    --accent-foreground: 229 100% 54%;
    --accent-background: 240 75% 84.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 100% 100%;

    --border: 240 75% 84.3%;
    --input: 240 75% 84.3%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  h1 {
    @apply text-5xl font-medium tracking-tight;
  }

  h2 {
    @apply text-4xl font-medium leading-10;
  }

  h3 {
    @apply text-2xl font-medium tracking-tight;
  }

  h4 {
    @apply text-xl font-medium tracking-tight;
  }

  h5 {
    @apply text-xl font-medium tracking-tight text-muted;
  }

  p {
    @apply text-base font-normal;
  }

  .nav-link {
    @apply bg-transparent text-sm font-semibold text-muted;
  }

  .blur-soft {
    @apply bg-background bg-opacity-50 backdrop-blur-sm;
  }

  .b1 {
    @apply border border-cyan-400;
  }
  .b2 {
    @apply border border-teal-400;
  }
  .b3 {
    @apply border border-l-rose-400;
  }
}

/* .flex {
  border: 1px solid rgba(0, 0, 0, 0.2);
} */
